@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.App{
  text-align: center;
}

/* Main Page */

/* HEADER */
.Header {
  background-color: transparent;
  height: 100px;
  }

.Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link{
  color: white;
}

.about {
  text-decoration: none;
  color:white;
  }
  .shoes {
    color:black;
  }
  .clothes {
    color:black;
  }
  .equipment {
    color:black;
  }
  .contactus{
  color: white;
  }

  .dropdown-toggle {
    color: white !important;
  }

  .dropdown-menu{
    background: rgba(255, 255, 255,0.65) !important;
  }
.Rest{
  z-index: 9999;
}
  /* ABOUT */
.about-missin-vision{
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 50px 20px 50px 20px;
}
.aboutus{
  width: 33%;
  background: rgba(233, 233, 233, 0.5);
  border-radius: 15%;
  
  
}
.mission{
  width: 33%;
  background: rgba(233, 233, 233, 0.5);
  border-radius: 15%;
  margin-left: 10px;
}
.vision{
  width: 33%;
  background: rgba(233, 233, 233, 0.5);
  border-radius: 15%;
  margin-left: 10px;
}
.about-missin-vision h1{
  color: #FF4500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 22pt;
  }
  .about-missin-vision p{
    color:  rgb(48, 44, 44);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
  /* font-size: 13pt; */
  text-align: justify;
  padding: 20px;
    }

/* CONTACTUS */
#contact{
  background-color: transparent;
}
.contactInfo{
  display: flex;
  flex-direction: row;
}
.form1{
  width: 50%;
}
.ContactInfo-container{
  width: 50%;
}
a:hover{
  text-decoration: none;
  color: #FF4500;
}
.phone {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: white;
} 
.facebook {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.address {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
h2 {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 22pt;
}
.map-location{
  padding-top: 10px;
}
.Copyright{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  Size: 3pt; 
  color: white;
}
/* SLIDER */
.carousel-indicators li{
  background-color: black;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;  }
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.card {
border: none;
border-top-left-radius : 10%;
border-top-right-radius : 10%;

}

.red {
color: rgb(48, 44, 44);
}

.Shoes, .Clothes, .Equipment{
  width: 90%;
  margin: 0 auto 0 auto;
  display: flex; 
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;
}
.nav-link {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 13pt;
}
.card-img-top {
  border: 1px transparent;
  border-radius: 10%;
}
.card-title.h5{
  color: #FF4500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 20pt;
}
.card-text{
  color: grey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10pt;
  }
.list-group-item {
  color: rgb(48, 44, 44);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 15pt;
}

.Card1{
  margin: 0 auto 0 auto;
  width: 25%; 
  padding: 10px 10px 10px 10px;
}

/* we just need to change the width to 50% so it could be responseve */
.Shoes-type, .Clothes-type{
  display: flex;
  text-align: center;
  width: 25%;
  margin: 20px auto 0 auto
}



/* AdminMenu */

li a {
text-decoration: none;
color: #FF4500;
}
.Zoubala {
  display: flex;
  flex-direction: row;
  width: 40px;
  margin: auto;
  justify-content: space-between;
}

.create {
  width:75%; 
  margin:auto;
}
.slick-arrow{
  display : visible;
  color: white;
} 
.create-h2{
  color:#FF4500;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight : bold; 
  font-size: 20pt;
}

.linkk {
  text-decoration:none;
  color:white;
  padding-left:10px;
}

.EditForm{
  width:60%;
  margin:0 auto 0 auto;
}

.FormLink{
  text-decoration:none;
  color:white;
}

.FormContainer{
  width:50%;
}

.Formh2{
  color:white;
  font-style:bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 22pt;
}

.FormForm{
  padding-left:30px;
  padding-bottom:10px;
}

Form.Label{
  color: white;
}

/*background images for home page and product page*/

.background {
  
    padding: 0 0 69px 0;
    box-sizing: border-box;
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    background: url(./components/Images/tirza-van-dijk-TEYrLTKKMSg-unsplash.jpg) no-repeat fixed center center;
    background-size: auto;
    background-size: cover;
    

}

.background1 {
  
  padding: 0 0 69px 0;
  box-sizing: border-box;
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
  background: url(./components/Images/yaron-richman-uZmr0wwfHNA-unsplash.jpg) no-repeat fixed center center;
  background-size: auto;
  background-size: cover;
 
}

.background3 {
  
  padding: 0 0 69px 0;
  box-sizing: border-box;
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
  background: url(./components/Images/daniel-olah-2cHW5TKr9Vs-unsplash.jpg) no-repeat fixed center center;
  background-size: auto;
  background-size: cover;
 
}


a{
  outline: none;
}

.form-label{
  color: white;

}

.fas{
  color:  #FF4500;
}
.fab{
  color:  #FF4500;
}